<h1>Restaurants in Paris</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name %></li>
  <%= link_to "Check it", restaurant_path(restaurant) %>
  <% end %>
  <li><%= link_to "Add a restaurant", new_restaurant_path %></li>
</ul>
